Repository jitsucom/jitsu, pull requests merged in 2022-03, with the labels that each got.

#846 fixes source editor UI in Singer expert mode sources
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/Common/OauthButton/OauthButton.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/Common/SourceEditorOauthButtons/SourceEditorOauthButtons.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormConfiguration.tsx
Labels: 🪲 Bug, 💅 Configurator UI

#854 Snowflake typecast
  server/adapters/snowflake.go
Labels: 🚀 Jitsu Server

#866 #822 improve statistics page
  configurator/frontend/main/src/lib/components/EventsStream/EventsSteam.module.less
  configurator/frontend/main/src/lib/components/EventsStream/EventsStream.tsx
  configurator/frontend/main/src/lib/components/EventsStream/components/EventsFilter.tsx
  configurator/frontend/main/src/lib/components/EventsStream/components/EventsList.tsx
  configurator/frontend/main/src/lib/components/EventsStream/components/EventsView.tsx
  configurator/frontend/main/src/lib/components/EventsStream/shared.ts
  configurator/frontend/main/src/lib/components/Filters/SelectFilter.module.less
  configurator/frontend/main/src/lib/components/Filters/SelectFilter.tsx
  configurator/frontend/main/src/lib/components/Filters/shared.tsx
  configurator/frontend/main/src/lib/components/StatusPage/StatusPage.tsx
  configurator/frontend/main/src/lib/services/stat.ts
  configurator/frontend/main/src/ui/components/StatisticsChart/StatisticsChart.tsx
  server/caching/events_cache.go
  server/caching/model.go
  server/handlers/event.go
Labels: 💅 Configurator UI

#867 Feature/698 support incremental sync
  configurator/frontend/main/src/theme.less
  configurator/frontend/main/src/types.d/source.d.ts
  configurator/frontend/main/src/ui/components/SourceCard/SourceCard.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditor.utils.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormConfiguration.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormConfigurationConfigurableLoadableFields.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormStreams.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormStreamsConfigurable.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormStreamsLoadable.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorFormStreamsLoadableForm.tsx
  configurator/frontend/main/src/ui/pages/SourcesPage/partials/SourceEditor/SourceEditor/SourceEditorPullData.ts
  configurator/frontend/main/src/ui/pages/SourcesPage/utils/airbyte.ts
  configurator/frontend/main/src/ui/pages/TaskLogs/TaskLogsPage.tsx
  configurator/frontend/main/src/utils/object.ts
  configurator/frontend/main/src/utils/sources/sourcesUtils.ts
  configurator/frontend/main/src/utils/strings.ts
  configurator/frontend/main/src/utils/typeCheck.ts
  server/airbyte/async_parser.go
  server/airbyte/models.go
  server/drivers/airbyte/airbyte.go
  server/drivers/airbyte/parser.go
  server/drivers/base/config.go
  server/synchronization/result_saver.go
Labels: ❤️ Feature, 💅 Configurator UI
